<div class="blog-left">
	<header class="main-header">
		<a href="/#/"><div class="logo"><img src="/assets/img/logo-d.png"></div></a>
		<div class="tag"><img src="/assets/img/tag.png"></div>
	</header>
	<div class="alert-success">
		<p>Welcome to the archives! These are all the Catalyze Engineering posts since the beginning of time :)</p>
	</div>
	<div class="intro">
		<p><%= current_page.data.sum %></p>
	</div>
	<div class="popular-posts">
		<h1><i class="fa fa-eye"></i> Read More Articles</h1>
		<ul>
			<% blog.articles[0...5].each do |article| %>
			<li><a href="<%= article.url %>"><%= article.title %></a></li>
			<% end %>
		</ul>
	</div>
	<nav>
		<a href="/archives">Archives</a>
		<a href="//catalyze.io/jobs">We're Hiring</a>
		<a href="//catalyzeio.github.io">Open Source</a>
		<a href="//catalyze.io/about">Catalyze</a>
	</nav>
</div>