.main-posts{
	margin-left: 30%;
	padding: 30px;
	header{
		@extend .cf;
		margin: 0px 0px 20px 0px;
	}
	.post{
		border-bottom: 1px dotted #ddd;
		margin-bottom: 20px;
		word-wrap: break-word;
		img{max-width: 100%;padding: 0px 0px 20px 0px;display: block;}
		h1.title{
			font-size: 35px;
			font-family: $f_sans-mono;
			color: $c_brand;
			line-height: 1.5;
			text-decoration: none;
			padding: 0px 0px 20px 0px;
			display: block;
			a{
				font-size: 35px;
				font-family: $f_sans-mono;
				color: $c_brand;
				line-height: 1.5;
				text-decoration: none;
				padding: 0px 0px 20px 0px;
				display: block;
				@include easing(350ms);
				&:hover{
					@include easing(350ms);
					color: darken($c_eng-brand, 20%);
				}
			}
		}
		p{
			padding: 0px 0px 20px 0px;
			font-family: $f_sans-reg;
			color: $c_text;
			line-height: 2;
			word-wrap: break-word;
			code{word-wrap: break-word;}
		}
		max-width: 750px;
		// Full Post
		a{
			color: #A95CF1;
			text-decoration: none;
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				color: $c_brand;
				text-decoration: underline;
			}
		}
		h1,h2,h3,h4{
			font-family: $f_sans-med;
			padding: 0px 0px 20px 0px;
			color: $c_brand;
			line-height: 1.5;
		}
		h1{font-size: 22px;}
		h2{font-size: 18px;}
		h3{font-size: 16px;}
		h4{font-size: 14px;text-transform: uppercase;}
		ol,
		ul{
			padding: 0px 0px 20px 20px;
			margin: 0px 0px 20px 0px;
			list-style: circle;
			li{
				margin: 0px 0px 20px 0px;
				color: $c_text;
				font-size: 14px;
				line-height: 2;
				font-family: $f_sans-med;
				&:last-of-type{margin: 0px 0px 0px 0px;}
			}
		}
		table{
			border: 1px solid #ddd;
			margin: 0px 0px 20px 0px;
			tr{
				td,th{
					text-align: left;
					background-color: #f4f4f4;
					border: 1px solid #ddd;
					padding: 10px;
				}
				td{background-color: #fff;}
			}
		}
		blockquote{
			padding: 0px 0px 0px 10px;
			margin: 0px 0px 20px 0px;
			border-left: 3px solid #ccc;
			p{
				padding: 0px;
				font-size: 14px;
				font-family: $f_sans-ital;
			}
		}
	}
	.meta{
		@extend .cf;
		.tags{
			border: 0px;
			margin: 0px;
			padding: 0px;
			float: left;
			li{
				padding: 5px 10px;
				border: 1px solid $c_brand;
				@include border-radius(5px);
				display: inline-block;
				color: $c_brand;
				margin: 0px 10px 0px 0px;
				&:last-of-type{margin: 0px 0px 0px 0px;}
			}
		}
		.date{
			color: $c_text;
			float: right;
			padding: 5px;
		}
	}
	.author{
		background-color: #f4f4f4;
		border: 1px solid #ddd;
		padding: 10px;
		margin: 20px 0px 0px 0px;
		@include border-radius(5px);
		width: 100%;
		@extend .cf;
		.prof{
			float: left;
			display: block;
			position: relative;
			width: 50%;
			img{
				padding: 0px;
				height: auto;
				max-width: 50px;
				@include border-radius(25px);
				display: block;
				width: 100%;
			}
			span.main{
				left: 60px;
				top: 20px;
				display: block;
				position: absolute;
				font-family: $f_sans-med;
				color: $c_text;
			}
		}
		span.guest{
			margin: 20px 0px 0px 0px;
			float: right;
			display: block;
			font-family: $f_sans-med;
			color: $c_text;
			span#guest-author{font-family: $f_sans-ital;}
		}
	}
}
// Post Specific
.button-more{
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 150px;
	background-color: $c_brand;
	color: #fff;
	text-decoration: none;
	@include border-radius(5px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	padding: 10px;
	@include easing(350ms);
	&:hover{
		@include easing(350ms);
		padding-left: 15px;
		color: $c_code;
	}
}
.alert-success{
	border: 1px solid #67A842;
	background-color: #E8FFDB;
	padding: 10px;
	margin: 20px;
	@include border-radius(5px);
	p{
		line-height: 1.5;
		color: #5D9B3A;
	}
}
.archives-posts{
	@extend .main-posts;
	.post{
		header{padding: 0px;margin: 0px;}
		padding: 10px;
		background-color: #fff;
		@include border-radius(5px);
		border: 1px solid #ddd;
		@include box-shadow(0px 0px 10px #ddd);
		h1.title{
			font-size: 20px;
			padding: 0px 0px 0px 0px;
			a{
				font-size: 20px;
				padding: 0px 0px 10px 0px;
			}
		}
		.block-level-link{
			display: block;
			@extend .cf;
		}
	}
}